/* body {
    background-color: #2a2c2f;
} */

.page {
  background-color: #2a2c2f;
  max-width: 1280px;
  margin: 0;
}

.header {
  width: 1184px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 0 48px;
  padding-top: 28px;
}

.header__lang-link {
    display: flex;
    width: 77px;
    justify-content: space-between;
    vertical-align: top;
}

.header__lang-link_en {
    padding-bottom: 5px;
}

.lead {
  display: flex;
  justify-content: center;
}

.lead__title {
  width: 720px;
  color: #ffffff;
  font-family: Inter;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.line {
   border: solid 1px red;
}
