.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: start;
    max-width: 186px;
    margin-bottom: 24px;
  }
}
